@model AssessmentMVC.Models.QuestionOption

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML">
</script>

<h2>Option Details for Question Code: @Html.ValueFor(model => model.QuestionMaster.QuestionCode)</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionMaster.QuestionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionMaster.QuestionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionText)
        </dt>

        <dd>
            @Html.Raw(Model.OptionText)
        </dd>
           
        @*<dt>
            @Html.DisplayNameFor(model => model.OptionHint)
        </dt>

        <dd>
            @Html.Raw(Model.OptionHint)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CorrectOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExplanationForOption)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ExplanationForOption)*@
            @Html.Raw(Model.ExplanationForOption)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MisconceptionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Misconception.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherMisconceptionID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Misconception1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherMisconceptionID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Misconception2.Description)
        </dd>

        <dt>
            @Html.DisplayName("Score")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoringWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<p>
@if (!@Model.QuestionMaster.StatusID.Equals("A"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionOptionID }) <b>|</b>
}
    @Html.ActionLink("Back to Question", "Details", "QuestionMaster", new { id = Model.QuestionID }, null)
</p>
