@model AssessmentMVC.Models.QuestionMaster

@{
    ViewBag.Title = "Edit";
}

<script src="https://cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>
@*<script type="text/javascript" src="~/Scripts/ContentEditor/ckeditorfull/ckeditor.js"></script>*@

<h2>Edit Question</h2>
<h4>Question Code: @Model.QuestionCode <i>(Current Status: @Model.Status.Description)</i></h4>
@if (Model.ParentQuestionID > 0)
{
    string sourceQuestion = string.Format("Source Question Code: {0}", ViewBag.SourceQuestionCode);
    @Html.ActionLink(sourceQuestion, "Details", "QuestionMaster", new { id = Model.ParentQuestionID }, new { target = "_blank" })
}
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.QuestionID)
    @Html.HiddenFor(model => model.QuestionTypeID)
    @Html.HiddenFor(model => model.StatusID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.Comments)
    @Html.HiddenFor(model => model.ParentQuestionID)

    <div class="form-group">
        @Html.LabelFor(model => model.QuestionCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuestionCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuestionCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QuestionTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("QuestionTypeID", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.QuestionTypeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QuestionBody, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ActionLink("Upload Image to Server", "UploadFile", "Upload", null, new { target = "_blank" })
            @Html.TextAreaFor(model => model.QuestionBody, new { htmlAttributes = new { @id = "QuestionBody", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuestionBody, "", new { @class = "text-danger" })
            <script>
                CKEDITOR.replace('QuestionBody', {
                    extraPlugins: 'mathjax',
                    mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML',
                    height: 320
                });
            </script>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Question", "Details", "QuestionMaster", new { id = Model.QuestionID }, null)
</div>
